.hubspotform-preview {
  border: 1px #e89e6d dashed;
  padding: 1rem;
  pointer-events: none;
  position: relative;
  background-color: #fff3eb;
  border-radius: 10px;
}

.hubspotform-preview .preview-hubspotform-label {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  background-color: #ff7a59;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

.hubspotform-preview-wrapper {
  display: block;
}

.hubspotform-preview-wrapper .preview-hubspotform-item {
  display: inline-block;
  margin-right: 0px;
  font-weight: bold;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
  font-size: 16px;
}

.hubspotform-preview-wrapper .preview-hubspotform-item span {
  font-style: italic;
}
