{#
/**
 * @file
 * Hubspot embed form.
 */
#}
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<div id='{{ target }}'></div>
<script>
  hbspt.forms.create({
    css: '',
    target: '#{{ target }}',
    portalId: '{{ portal_id }}',
    formId: '{{ form_id }}'
  });
</script>
